/* -------------- General settings -------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  min-width: 0;
  font-size: 20px;
}

html {
  color-scheme: dark;
  --main-color: red;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height: 100dvh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
  overflow-wrap: break-word;
  text-wrap: balance;
}

li {
  list-style-type: none;
}

p {
  text-wrap: pretty;
}

/* -------------- Header -------------- */

.header_navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar {
  display: flex;
  background-color: red;
}

.navbar_mobile {
  display: None;
}

.navbar_button {
  margin-right: 20px;
  margin-left: 20px;
}

.image {
  max-width: 150px;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .navbar_mobile {
    display: flex;
  }
}
