* {
  box-sizing: border-box;

  min-width: 0;
  line-height: 1.5;
  font-synthesis: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

:root {
  /*  color palettes  */

  /* dark mode */
  --main-font: rgba(255, 255, 255, 0.87);
  --main-back-color1: #171717;
  --main-back-color2: #202020;
  --accent1: #d51a1d;
  --accent2: #3396cc;
  --button-color: hsl(271, 36%, 17%);

  /* light mode */

  --main-back-color1-light: #f1f9ff;
  --main-font-light: #213547;
  --link-hover-light: #747bff;
  --button-color-light: #f9f9f9;
  --backdrop-light: rgba(0, 0, 0, 0.07);

  color: var(--main-font-light);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: balance;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-font-light);
}

/* usar media queries en em */

/* ------------------ Initial Setup ------------------ */

/* ------------------ Fades ------------------ */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  animation: fadeIn 1s ease;
}

.fade_slow {
  animation: fadeIn 1.2s ease;
}

.fade_extra_slow {
  animation: fadeIn 2s ease;
}
/* ------------------ Fades ------------------ */

/* ------------------ Navbar ------------------ */

#navbar {
  height: 10em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo_container {
  height: 100%;
}

#logo_container > a > img {
  height: 100%;
}

.fit {
  object-fit: contain;
}

#links_container {
  display: flex;
  align-self: center;
  font-size: 1.1rem;
}

#links_container > li > a {
  padding: 2em;
}

#links_container > li > a:hover {
  background-color: #3396cc;
  /* ilusion de BOLD sin hacer resize del elemento */
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
  color: var(--main-back-color1-light);
}

/* ------------------ Navbar ------------------ */

/* ------------------ Landing ------------------ */

.full-height {
  height: 86dvh;
}

.back {
  background: url('../img/summer.jpeg');
}

.landing-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  gap: 6em;
}

.landing-display > div > h1 {
  margin-bottom: -0.5em;
  color: var(--main-back-color1-light);
}

/* ------------------ Landing ------------------ */

/* ------------------ Eslógan ------------------ */
.center-text {
  text-align: center;
}

#eslogan {
  padding: 22% 0;
  font-size: 1.2rem;
  font-style: italic;
}
/* ------------------ Eslógan ------------------ */

/* ------------------ Visión ------------------ */

#vision {
  background-color: #1178af;
  display: flex;
  align-items: center;
}

.slider-card-flex-2 {
  margin: 10% 25%;
  padding: 4rem;
  border-radius: 1rem;
  background-color: #87c7e9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
}

.slider-card-flex-2 > img {
  width: 100%;
}
/* ------------------ Visión ------------------ */
